<div style="text-align: center;">

    <br><br><br>
    <input type="text" placeholder="Enter item name" [(ngModel)]="item1">
    <input type="text" placeholder="Enter price" [(ngModel)]="price1">
    <br><br>
    <input type="text" placeholder="Enter item name" [(ngModel)]="item2">
    <input type="text" placeholder="Enter price" [(ngModel)]="price2">
    <br><br>
    <button mat-raised-button color="primary" (click)="generateinvoice()">Generate Invoice</button>
    <br>
    </div>
    <hr>
    
